@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;700&family=Red+Hat+Display:wght@300;400;700&display=swap');

html,
body,
#__nuxt {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Red Hat Display', sans-serif;

  @apply antialiased gradient-greendark text-black-500 bg-fixed;
}